
/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');


/* -- Shared Styling -- */
body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: center;
}

/* -- Navbar Styling -- */
.nav {
  border-bottom: 1px solid #dee0df;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav .nav-links {
  padding-left: 15px;
}

.nav ul.nav-links li {
  margin-right: 25px;
  padding: 16px 0;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.nav ul.nav-links li:hover {
  border-bottom: 3px solid #f4645f;
}

.nav a{
  text-decoration: none;
  color: #525252;
  transition: 0.3s;
  
}
.nav a:hover{
  color: #f4645f;
}

.nav ul.nav-logged-in {
  padding-right: 10px;
}


.nav-logged-in-greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.nav-logged-in-greeting-text {
  margin-right: 10px;
}

.nav-logged-in-greeting-avatar {
  height: 30px;
  border-radius: 50%;
}

.nav-logged-in-logout-btn {
  padding-top: 5px;
  border: none;
  font-size: 20px;
  color:#525252;
  transition: 0.3s;
}
.nav-logged-in-logout-btn:hover {
  color:#f4645f;
}

/* -- End of: Navbar Styling -- */

/* -- Login Styling -- */
.box {
  border: 1px solid #dee0df;
  border-radius: 4px;
  width: 500px;
  box-shadow: 0 1px 15px rgba(0,0,0,.1);
  margin-bottom: 20px;
}

.box-header {
  display: block;
  width: 100%;
  background: #fafafa;
  margin-bottom: 20px;
}

.box-title {
  text-align: center;
  margin-bottom: 2px;
}

.box-subtitle {
  margin-top: 0;
  text-align: center;
  color: grey;
  font-style: italic;
}

.box-avatar {
  height: 200px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.login-form-container {
  margin-top: 20px;
  background: #fafafa;
  width: 100%;
}

.login-form-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-loading p {
  font-size: 12px;
  color: grey;
}

.login-form-form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.login-form-form select option{
  text-align: center;
}

.login-form-form-submit-btn {
  margin-top: 10px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 15px;
}

/* -- End of: Login Page Styling -- */

/* -- Dashboard Styling -- */

ul.tabs-titles {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-left: 20px;
  border-bottom: 1px solid #dee0df;
  margin: 0;
  padding-top: 15px;
}

ul.tabs-titles li{
  margin-right: 20px;
  color: #727272;
  cursor: pointer;
  transition: 0.3s;
}

ul.tabs-titles li.react-tabs__tab--selected {
  color: #f4645f;
  border-bottom: 3px solid #f4645f;
  padding-bottom: 10px;
}

/* -- End of: Dashboard Styling -- */

/* -- Question Styling -- */

.question-box{
  border: 1px solid #dee0df;
  margin: 10px;
  /* padding: 10px; */
  border-radius: 4px;
}

.question-box-header {
  width: auto;
  padding: 10px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #dee0df;
}

.question-box-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.question-box-content-author {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}

.question-box-content-author-avatar {
  width: 100px;
  border-radius: 50%;
}

.question-box-content-details {
  padding: 10px;
  flex: 2;
}


.question-box-content-details h3,
.question-box-content-details h4 {
  margin: 0;
  padding: 0;
}

.question-box-content-details-title {
  border-bottom: 1px solid #dee0df;
  padding-bottom: 5px !important;
  margin-bottom: 15px !important;
}

.question-box-content-details-options {
  margin-bottom: 10px;
}

.question-box-content-details-option {
  margin: 0;
  border-left: 5px solid #f4645f;
  padding-left: 5px;
}

.question-box-content-details-option-separator {
  color: grey;
  font-style: italic;
  margin: 5px 0 !important;
}

.question-box-view-btn {
  border: 1px solid #f4645f;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  color: #f4645f;
  transition: 0.3s;
}

.question-box-view-btn:hover {
  background: #f4645f;
  color: white;
}